.ice-header {
    font-weight: bold;
    font-family: "PingFang SC";
    font-size: 1.1rem;
    animation-duration: inherit;
    transition-duration: .3s;
    border-left: rgba(0, 0, 0, 0) 0 solid;
    padding-left: 0;

    &:before {
        content: "#";
        font-size: 1.5rem;
    }

    &:hover {
        padding-left: 1rem;
        border-left: #ff0000 .5rem solid;
    }
}

.ice-text {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    border-left: rgba(255, 0, 233, 0.66) .2rem solid;
}

html {
    font-size: 16px;
}

.mainBtn {
    background-color: #cbcbcb;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    user-select: none;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.ice-input {
    height: 1.7rem;
    border: none;
    border-bottom: 2px solid #333333;
    padding: 0 10px;
    font-size: 1.1rem;
    color: #333333;
    outline: none;
}